
.login 
{
	width:32vw;
	margin: auto;
	margin-top: 10%;
	background-color: rgb(38, 2, 64);
	border: 2px solid white;
	border-bottom-width: 4px;
	border-top-width: 4px;
	border-radius: 20px;
	text-align: center;
	display: block;
	opacity: 1;

}
#hiba_doboz
{
	margin-top: 3%;
margin-left: 35%;

display: block;
}

#hiba_doboz p {color: red;}
::placeholder {color:black;}
#check_list 
{
	background-color: rgb(120,120,120,0.5); 
	color: white;
	width: 30%;
	font-size: 1.5em;
	position: fixed;
	top: 5%;
	right: 3%;
	padding-left: 10px;
	display: none;
}
#check_list p > span:first-child
{
	text-decoration: line-through;
	text-decoration-color: red;
}

.register 
{
	background-color: rgb(38, 2, 64);
	border: 2px solid white;
	border-bottom-width: 4px;
	border-top-width: 4px;
	border-radius: 20px;
	margin: auto;
	width: 50%;
	min-width: 50%;
	margin-top: 5%;
	margin-left: 10%;
	padding-top:-200px;
	display: none;
	opacity: 0;
	text-align: center;
	transition: 1s;
}

.register input 
{
margin-bottom: 15px;
width: 40vw;
max-width: 90%;
margin-top: 15px;
font-size: 2em;
	box-shadow: 2px 10px rgb(0,0,0,0.5);
	padding: 20px 20px;
}


.register input:hover 
{
	background-color: rgb(201,201,201);
}
#regLable
{
	color:red;
	margin-top: -200px;
}

.login input
{
	margin-top: 5%;
margin-bottom: 3%;
	width: 25vw;
	font-size: 2em;
	box-shadow: 2px 10px rgb(0,0,0,0.6);
	padding: 20px 20px;
	background-color: rgb(240,240,240,0.6);
}

.login input:focus 
{
	transition: 0.1s;
	border: 2px solid black;
	outline: none;
	background-color: rgb(230,230,230);
	
}

#felejt_jelszo
{

width: 13em;
height: 2em;
font-size: 0.8em;
margin-right: 10px;
margin-bottom: 0px;
margin-top: 0px;
padding: 2vh;
background-color: white;
transition: 0.3s;
}

#felejt_jelszo:hover 
{
	background-color: rgb(201,201,201);
	scale: 110% 110%;
}


#felejt_jelszo_doboz {text-align: right;}


#loginBtn 
{
background-color: white;
transition: 0.3s;
margin-bottom: -10%;
}

#regBtn 
{
	margin-top: 1vw;
	width: 80%;
	background-color: white;
	font-size: 2em;
	transition: 0.3s;

}

#loginBtn:hover, #regBtn:hover
{
background-color: rgb(201,201,201);
}

.valto 
{
	float: right;
	font-size: 1.5em;
	margin-right: 2%; 
	margin-top: -20px;
	padding: 5px 10px; 
	transition: 0.3s;
	background-color: white;
}

.valto:hover, #felejt_jelszo:hover
{
	transition: 0.3s;
scale:110% 110%;
}

#registerId p 
{
	transition: 0.3s;
	font-size: 4em;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}


#registerId p:hover
{
	transition: 0.3s;
	scale: 120% 120%;
	color: rgb(255,215,0);
}
#blur 
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: rgb(30,30,30,0.8);
	display: none;
}
#ForgotContainer 
{
	display: none;
	background-color: rgb(72,13,122);
	position: absolute;
	top: 10vw;
	left: 35vw;
	width: 30vw;
	text-align: center;
	border: 2px solid white;
	border-radius: 13px;
}
#ForgotContainer p
{
	color: rgb(201,201,201);
	text-transform: uppercase;
	margin: 3vh;
	font-size: 6.5vh;
}
#ForgotContainer input[type="submit"] 
{
	border: none;
	font-size: 5.5vh;
	padding: 3vh;
	width: 50%;
	position: relative;
	top: 5vh;
}

#ForgotContainer input[type="submit"]:hover 
{
	background-color: rgb(201,201,201);
	transition: 0.2s;
}

#ForgotContainer input[type="text"] 
{
	border: none;
	padding: 3vh;
	font-size: 2.5vw;
	width: 80%;
	margin-bottom: 3vh;
	background-color: rgb(159,146,169,0.6);
	box-shadow: 2px 10px rgb(0,0,0,0.6);
	transition: 0.1s;
}
#ForgotContainer input[type="text"]::placeholder 
{
	color: rgb(0,0,0,0.3);
}

#ForgotContainer input[type="text"]:focus 
{
	width: 85%;
	transition: 0.1s;
	background-color: white;
}
#ForgotContainer a 
{
font-size: 5vh;
position: absolute;
left: 28vw;
top: -1vw;
background-color: white;
border-radius: 100px;
padding: 0.5vh 2vh;
border: 1px solid black;
}

#ForgotContainer a:hover 
{
	background-color: rgb(201,201,201);
	transition: 0.2s;
}
@media screen and (max-width: 990px) 
{

#ForgotContainer 
{
width: 50vw;
left: 25vw;
}
#ForgotContainer a 
{
	left: 48vw;
}

	#check_list 
	{
		position: relative; top: 1vw; left: 14%; width: 70%; padding: 1px 10px;
	}
	#registerId p
	{
	font-size: 4em;
	}
	.register 
	{
		width: 80%;
	}
	.register input 
	{
		width: 80%;
	}
	.login {width: 60%;}
	.login input {width: 85%;}
	#loginBtn {width: 60%;}
}

@media screen and (max-width: 800px) 
{
	#hiba_doboz
	{
	margin-top: 10%;
margin-left: 5%;

	}
	.login 
	{
		margin-top: 20vh;
		width: 70%;
	}

	.login input {background-color: rgb(250,250,250,0.7); width: 80%;}

	.register 
	{
		width: 90%;
		margin-left: 4.7%;
	}
	.register input
	{
		width: 90%;
	}
	
}

