
body 
{
  background-image: url("../Images/BG/fooldalBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@font-face {
  font-family: title;
  src: url("../Fonts/pixel.otf") format("opentype");
}

@font-face {
  font-family: clock;
  src: url("../Fonts/E1234.ttf") format("truetype");
}


* 
{
  font-family: title;
}

.clock, .money{
	
	font-family: clock;
}