
input 
{
	top: 380;
	font-size: 20px;
	position: fixed;
}

#name
{
	font-size: 1.5em;
	font-weight: bold;
}


#id
{
	font-size: 1.5em;
	color: gray;
}


#textMessage
{
	font-size: 1.5em;
	color: white;
	line-break: anywhere;
}

#Chatbox 
{
	overflow: auto;
	height: 87vh;
	 -ms-overflow-style: none;  
		scrollbar-width: none;  
}

#Chatbox ::-webkit-scrollbar {
  display: none;
}
#Messenger{
	
	font-size:5vh;
	position: absolute;
    top: 89%;
    height: 11%;
    width: 100%;
    left: 0px;
}

@media screen and (min-width: 300px) 
{
	input {width: 100%;}
	body,input {font-size: 1.1em;}
}
