.menusor
{
	height: 10%;
	width: 96%;
	margin-left: 20px;
	margin-right: 20px;
	position: fixed;
	top: 10;


}

.menusor table 
{
	background-color: white;
	border-bottom: 4px solid black;
	width: 100%;
}

#kep img
{
	width: 40px;
	margin-right: 100px;
}


.menu-gombok
{
	width: 10em;
	height: 3em;
	border-radius: 10px;
	font-size: 15px;
	overflow: hidden;
	background-color: #FF0AA1;
	border-style: solid;
	border-color: transparent;
	margin-left: -80px;
	text-align: center;
	vertical-align: middle;
}
a 
{
	text-decoration: none;
	font-size: 20px;

}

a:visited
{<!-- itt ezt majd megoldani --!>
	font-style: italic;
}
.menusor-spacer 
{
	height: 100px;
}
.aukcios-felulet
{
	height: 70vh;
	background-color: green;
	margin-left: 20px;
	margin-bottom: 30px;
}


#aukcio 
{
	background-color: red;
	height: inherit;
	width: 80%;
}

#chat-box
{
	background-color: yellow;
	height: inherit;
	float: right;
	width: 20%;
}

#chat-box iframe
{
	background-color: yellow;
	height: 99.1%;
	float: right;
	width: 100%;
}
.inline 
{
	display: inline-block;
}
.naplo
{
	height: 70vh;
	background-color: blue;
	margin-left: 20px;
}