.chatbox 
{
	background-color: blue;
	width: 50%;
	height: 80%;
	margin-right: -10%;
}


.Nagydoboz 
{
	text-align: center;
}

.publish
{
	background-color: green;
	width: 25%;
	float: right;
	height: 5%;
	transition: all 0.5s ease-out;
	overflow: hidden;

}


.publish textarea 
{
width: 80%;
height: 30%;
font-size: 20px;
padding-top: 1em;
padding-left: 1em;
}

.publish button
{
	overflow: visible;
}
#publish_button
{
	font-size: 1em;
	padding: 5px 10px;
	border-radius: 15px;
	background-color: white;
	margin-left: 3.5%;
	border: none;
}

#pTartalom button 
{
	font-size: 20;
	padding: 10 5;
	
}