
body 
{
	background-image: url("../Images/BG/fooldalBG.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.Nagydoboz 
{
	text-align: center;
}

.publish
{
	background-color: rgb(83,27,147,0.8);
	width: 25%;
	float: right;
	height: 5%;
	transition: all 0.5s ease-out;
	overflow: hidden;
	position: fixed;
	top: 25%;
	float: right;
	margin-right: 0;
	left: 75%;
	text-align: center;

}


.publish textarea 
{
width: 80%;
height: 30%;
font-size: 20px;
padding-top: 1em;
padding-left: 1em;
}

.publish button
{
	overflow: visible;
}
#publish_button
{
	font-size: 1em;
	padding: 5px 10px;
	border-radius: 15px;
	background-color: white;
	margin-left: 3.5%;
	border: none;
}

#pTartalom button 
{
	font-size: 20;
	padding: 10 5;
	
}
#post_container 
{
	background-color: rgb(201,201,201,0.3);
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	display: block;
	text-align: center;
	border: 2px solid black;
}

#post_container p
{
text-align: left;
max-height: 50%;
height: fit-content;
}
.post-text 
{
	font-size: 1.5em;
	padding-left: 1%;
	margin-bottom: 10%;
	color: rgb(255,255,255,0.9);
	
}

.post-op
{
color: white;
font-weight: bold;
font-size: 1.5em;
padding: 5 10;
margin-top: 2%;
width: fit-content;
}

.text-img 
{
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	background-color: rgb(255,255,255,0.1);
	overflow: scroll;
	word-break: break-all;

}

.post-image
{
	margin-bottom: 5%;
	width: 60%;
	max-width: 60%;
	max-height: 80%;
}

.post 
{
	border: 2px solid black;
	border-bottom-width: 5px;
	height: 50%;
	overflow: scroll;


}

.post button, .comment button
{
	font-size: 1.4em;
	margin-bottom: 2%;
	border: 2px solid black;
	background-color: white;
	margin-top: 5%;
}

.post button:hover, .comment button:hover
{
	font-size: 1.45em;
	background-color: rgb(255,255,255,0.9);
}
.post-likes
{
margin-left: 4%;
}

.post-date 
{
float: left;
margin-top: -7%;
margin-left: 2%;
font-style: italic;
color:grey;
font-size: 1.4em;
}


