
	
@keyframes attunesDoboz{
  	from {height: 3.5vw; width: 10vw; left: 87vw;}
  	to {height: 23vw; width: 25vw; left: 75vw;}
  	}

@keyframes eltunesDoboz{
  	from {height:23vw; width: 25vw; left: 75vw;}
  	to {height: 3.5vw; width: 10vw; left: 87vw;}

  	}


.Nagydoboz 
{
	text-align: center;
}


.megjelent {height:23vw; width: 25vw; left: 75vw;}
.eltunt {height:3.5vw; width: 10vw; left: 87vw;}

#publish
{
	background-color: rgb(83,27,147,0.5);
	overflow: hidden;
	position: fixed;
	top: 25%;
	border: 2px solid rgb(83,27,147,1);
	text-align: center;

}

#browse 
{
margin: 5%;
font-family: title;
font-size: 1em;
}
#publish textarea 
{
width: 25vw;
height: 10vw;
font-size: 1.5vw;
padding-top: 0.5vw;
padding-left: 0.5vw;
}

#publish_button
{
	font-size: 1.5vw;
	padding: 5px 10px;
	margin-top: 0.3vw;
	margin-bottom: 2vw;
	background-color: white;

	border: 2px solid black;
}

#pTartalom button 
{
	font-size: 1.5vw;
	padding: 1vw 3vw;
	color: red;
	border: 2px solid black;
	
}
#post_container 
{
	background-color: rgb(201,201,201,0.3);
	margin-left: auto;
	margin-right: auto;
	width: 70vw;
	display: block;
	text-align: center;
	border: 2px solid black;
}

#post_container p
{
text-align: left;

height: fit-content;
}
.post-text 
{
	font-size: 1.5em;
	padding-left: 1%;
	margin-bottom: 10%;
	color: rgb(255,255,255,0.9);
	
}

.post-op
{
color: white;
font-weight: bold;
font-size: 1.5em;
padding: 5 10;
margin-top: 2%;
width: fit-content;
}

.text-img 
{
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	background-color: rgb(255,255,255,0.1);
	overflow: auto;
	word-break: break-all;
	max-height: 60%;

}

.post-image
{
	margin-bottom: 5%;
	height: 40%;
}

.post 
{
	border: 2px solid black;
	border-bottom-width: 5px;
}

.post button, .comment button
{
	font-size: 1.4em;
	margin-bottom: 2%;
	border: 2px solid black;
	background-color: white;
	margin-top: 5%;
}

.post button:hover, .comment button:hover
{
	font-size: 1.45em;
	background-color: rgb(255,255,255,0.9);
}
.post-likes
{
margin-left: 4%;
}

.post-date 
{
float: left;
margin-top: -7%;
margin-left: 2%;
font-style: italic;
color:grey;
font-size: 1.4em;
}

@media screen and (max-width: 1000px) 
{
	
@keyframes attunesDoboz{
  	from {height: 8.5vw; width: 19vw; left: 80vw;}
  	to {height: 100vw; width: 100vw; left: 0vw;}}
  	}

@keyframes eltunesDoboz{
  	from {height:100vw; width: 100vw; left: 0vw;}
  	to {height: 8.5vw; width: 19vw; left: 80vw;}

  	}

.megjelent {height:100vw; width: 100vw; left: 0vw;}
.eltunt {height:8.5vw; width: 19vw; left: 80vw;}

#publish {
    top: 0;

}
	.menusor-spacer {
    height: 8vw !important;
	}

#pTartalom button {
    font-size: 5vh;
    padding: 5px 10px;
    border: 2px solid black;
}

	#browse {
    margin: 5%;
    font-family: title;
    font-size: 2vh;
}
	#publish textarea {
    width: 80%;
    height: 62%;
    font-size: 5vw;
    padding-top: 0.5em;
    padding-left: 0.5em;
}
	
	#publish_button {
    font-size: 5vh;
}
	
	#post_container {
    width: 100%;
		}
	
	
}

