body 
{
overflow: hidden;
background-image: none;
}

#veglegesit-div
{
	width: 100%;
} 
#veglegesit button
{
	font-size: 2em;
	border: 2px solid black;
	background-color: white;
	float: right;
	width: 4em;
}

#veglegesit label 
{
		margin-left: 80%;
		font-size: 2em;
	border: 2px solid black;
}

.Item 
{
	display: inline-block;
	width: 20%;
	margin-right: 2%;
	margin-bottom: 2%;
	border: 2px solid grey;
	border-radius: 25px;

}

.Item:hover{
	transition: 0.2s;
	background-color: rgb(201,201,201,0.7);
	scale: 110% 110%;
}

#items-container{
display: inline-block;
overflow:auto;
height: 100%;
text-align: center;
width: 49%;
padding-top: 1em;
}

#info-container{
	float:right;
	width:49%;
	height: 100%;
	border: 4px solid black;
	display: inline-block;
	background-color: rgb(220,220,220,0.2);
	text-align: center;
	font-size: 1.5em;
	word-break: break-all;
}

#info-container span 
{
	font-size: 0.8em;
	text-decoration: underline;
}

.Item_IMG{
	width: 100%;

}

#info-OG_owner
{
	font-size: 0.6em;
	padding: 5px 10px;
	color: white;
	font-weight: bold;
}
#info-description-containter{
	overflow:auto;
	text-align: center;
	font-size: 0.7em;
	padding: 5px 6px;


}

table{
	width:100%;
	font-size:1.5em;
	border:2px solid black;
	text-align:center;
	border-collapse: collapse;

}




#rarity-div
{
	width: 50%;
	background-color: rgb(201,201,201,0.5);
	font-size: 1em;
}

#owner-div 
{
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: none;

}

#info-description-containter span 
{
	font-size: 1.5em;
}

#info-sorkizart
{
	margin-top: 2%;
	text-align: justify;
	color: rgb(255,255,255,0.9);
	padding: 10px;
	height: 20%;
	background-color: rgb(201,201,201,0.5);
	overflow: auto;
}

#info-name 
{
	font-size: 2em;
	color: white;
}

#info_image 
{
	width: 30%;
}