body 
{
overflow: hidden;
background-image: none;
}

#veglegesit-div
{
	width: 100vw;
	position: relative;
	top: 110vh;
} 
#veglegesit button
{
	font-size: 7vh;
	border: 2px solid black;
	background-color: white;
	float: right;
	width: 4em;
}

#veglegesit label 
{
	margin-left: 1%;
    font-size: 7vh;
    border: 2px solid black;
}

.Item 
{
	display: inline-block;
	width: 20%;
	margin-right: 2%;
	margin-bottom: 2%;
	border: 2px solid grey;
	border-radius: 25px;

}

.Item:hover{
	transition: 0.2s;
	background-color: rgb(201,201,201,0.7);
	scale: 110% 110%;
}

#items-container{
overflow:auto;
height: 100%;
top: 0;
left: 0;
position: absolute;
text-align: center;
width: 48vw;
padding-top: 1em;

}


#info-container{
	float:right;
	width: 50%;
	height: 95%;
	border: 2px	 solid black;
	display: inline-block;
	margin-top: -10vh;
	background-color: rgb(220,220,220,0.2);
	text-align: center;
	word-break: break-all;
	border-collapse: collapse;
}

#info-container span 
{
	font-size: 4.8vh;
	text-decoration: underline;
	
}



.Item_IMG{
	width: 100%;

}

#info-OG_owner
{
	font-size: 10vh;
	padding: 5px 10px;
	color: white;
	}
#info-description-containter{
	overflow:auto;
	text-align: center;
	padding: 5px 6px;


}

table{
	width:100%;
	font-size:10vh;
	text-align:center;
	border-collapse: collapse;

}




#rarity-div
{
	width: 50%;
	background-color: rgb(201,201,201,0.5);
	font-size: 10vh;
	border-collapse: collapse;
	border: 2px solid black;
	border-right: none;	
}

#owner-div 
{
	border: 2px solid black;
	border-left: none;
	border-collapse: collapse;

}

#info-description-containter span 
{
	font-size: 5vh;
}

#info-sorkizart
{
	text-align: justify;
	color: rgb(255,255,255,0.9);
	padding: 10px;
	  height: fit-content;
	font-size: 3.5vh;
	background-color: rgb(201,201,201,0.5);
	overflow: auto;
}

#info-name 
{
	font-size: 7vh;
	color: white;
}

#info_image 
{
	width: 30%;
}

.selected{
	
	transition: 0.03s;
	background-color: rgb(250,250,250,0.7);
	scale: 110% 110%;
	
}

@media screen and (max-width:454px) 
{
	
	body{
		
		overflow: auto;
		overflow-x:hidden;
	}
	

#info-container span {
    font-size: 10vh;
}
	
	#items-container {
    display: block;
    overflow: auto;
    height: 67vh;
    text-align: center;
    width: 100%;
    top: -4;
    position: relative;
	
	}
#info-container {
    width: 100%;
    margin-top: -5vw;
    height: fit-content;
}

.Item 
{
	width: 25vw;
}
#info_image {
    width: 50vh;
}


	#info-sorkizart {
    font-size: 10vh;
}
	
}


