.menusor
{
	background-color: rgb(255,255,255,0.9);
	width: 98.8%;
	position: fixed;
	z-index: 10;
	top: 2;

}

.inline 
{
	display: inline-block;

}
.kep img
{
width: 5em;
margin-top:-15%;
}

.gombok 
{
	float: right;
	margin-right: 2%;
	margin-top: 0.3%;


}

.menu-gombok
{
	font-size: 2em;
	font-family: title;
	text-align: center;
	margin-left: 0.5em;
	background-color: rgb(30,30,30,0.1);
	padding: 2 10;
	box-shadow: 10px 5px black;

}
.menu-gombok-containter
{
	overflow: hidden;
	border-style: solid;
	border-color: transparent;
	
}
.menu-gombok:hover
{
	background-color: rgb(30,30,30,0.2);
	box-shadow: 10px 5px black;
}

.menu-gombok-containter:hover
{
	scale: 110% 110%;
}
a 
{
	text-decoration: none;
	color: rgb(83,27,147);
}
.gombok button 
{
	background: none;
	background-color: rgb(50,50,50,0.3);
}


.menusor-spacer 
{
	height: 20%;
}
