.menusor
{
	background-color: rgb(255,255,255,0.9);
	width: 99%;
	border-bottom: 4px solid black;
	position: fixed;
	z-index: 10;
	box-shadow: 0px 3px 10px rgb(50,50,50);

}

.inline 
{
	display: inline-block;

}
.kep img
{
width: 5em;
margin-top:-15%;
}

.gombok 
{
	float: right;
	margin-right: 2%;
	margin-top: 0.3%;

}

.menu-gombok
{
	font-size: 2em;
	font-family: title;
	text-align: center;
	margin-left: 0.5em;
	background-color: rgb(30,30,30,0.1);
	padding: 2 10;
	transition: .9s;
	box-shadow: 10px 5px black;
}
.menu-gombok-containter
{
	overflow: hidden;
	border-style: solid;
	border-color: transparent;
	transition: .9s;
}
.menu-gombok:hover
{
	background-color: rgb(10,10,10,0.3);
	box-shadow: 10px 5px black;
}

.menu-gombok-containter:hover
{
	scale: 110% 110%;
}
a {text-decoration: none; }
.gombok button 
{
	background: none;
	background-color: rgb(50,50,50,0.3);
}


.menusor-spacer 
{
	height: 20%;
}
