
body 
{
	background-image: url("../Images/BG/fooldalBG.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#Pfp img {
    width: auto;
    height: 31vh;
    border-radius: 50px;
    border: 2px solid rgb(255, 255, 255,0.6);
    border-top-width: 3px;
    border-bottom-width: 3px;
    background-color: rgb(255,255,255,0.1);
    margin-bottom: 5%;
}



.inline 
{
	display: inline-block;
	text-align: center;
}

.inline form input{
	
	font-size:2vh;
}

#adatok {
    background-color: rgb(210,210,210,0.5);
    width: 98vh;
    padding: 0px 2vh;
    padding-top: 2vh;
    margin-left: 4vh;
    color: white;
    border: 2px solid rgb(201, 201, 201,0.2);
    text-align: left;
	font-size: 2vh;
}

#adatok button 
{
	font-size: 1.5em;
	background-color: transparent;
	border: none;
	color:red;
	float: right;
}

#adatok button:hover 
{
	font-weight: bold;
	background-color: white;

}
#logout 
{
	font-size: 1.5em;
	color: cyan;
}

#logout:hover
{
font-weight: bold;
}
.Raktar
{
	margin-left: 1%;
	background-color: rgb(201,201,201,0.2);
	height: 80%;
	border: 1px solid white;
	width: 75%;
	overflow: auto;
}


.Raktar iframe 
{
	width: 100%; height: 100%; border: none; 

}
#History 
{
	background-color: rgb(221, 255, 0,0.3);
	color: white;
	font-size: 2em;
	border: 2px solid rgb(255,255,255,0.3);
	height: 77%;
	width: 20.5%;
	float: right;
}
#upload 
{
	float: left;
}
#browse 
{
	float: left;
	width: 100%;
}

.feliratok
{
	font-size: 2.3em;
	margin-right: 2%;
}

#label {
    text-transform: uppercase;
    font-size: 6.5vh;
    font-weight: bold;
}

@media screen and (max-width: 995px) 
{
	body{
		
		overflow-x:hidden;
	}
	
	
	
	#Pfp img {
		
	width: 116vw;
    height: auto;
    border-radius: 50px;
    border: 2px solid rgb(255, 255, 255,0.6);
    border-top-width: 3px;
    border-bottom-width: 3px;
    background-color: rgb(255,255,255,0.1);
    margin-bottom: 5%;
}

#Pfp{
	width:100%;
	
}

#upload {
    float: right;
}

.inline form input {
    font-size: 7vw;
}

#adatok {
    background-color: rgb(210,210,210,0.5);
    width: 101%;
    
    padding-top: 2vh ;

    margin-left: -2vw;
    color: white;
    border: 2px solid rgb(201, 201, 201,0.2);
    text-align: left;
    font-size: 4vw;
}
#label {
    text-transform: uppercase;
    font-size: 6.5vw;
    font-weight: bold;
}
#History {
    background-color: rgb(221, 255, 0,0.3);
    color: white;
    font-size: 2em;
    border: 2px solid rgb(255,255,255,0.3);
    height: auto;
    width: 153vw;
    float: right;
}



.Raktar {
    margin-left: -1vw;
    background-color: rgb(201,201,201,0.2);
    height: 100%;
    border: 1px solid white;
    width: 154vw;
    overflow: auto;
}
.Raktar iframe {
    margin-right: auto;
    width: 101vw;
    height: 100%;
    margin-left: 24vw;
    display: block;
    border: none;
    transform-origin: 50% 0%;
    scale: 161% 161%;
}



#browse {
    float: left;
    width: 116vw;
}

.Nagydoboz{
	width:152vw;
	
}



}


	


