
body 
{
	background-image: url("../Images/BG/fooldalBG.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#Bedge{
	position: relative;
    height: 7vw;
    width: 7vw;
    right: 5vw;
    top: -15vw;

}

#PP{
  height: 20vw;
  width: 20vw;
    border-radius: 5vh;
    border: 2px solid rgb(255, 255, 255,0.6);
    border-top-width: 3px;
    border-bottom-width: 3px;
    background-color: rgb(255,255,255,0.1);
    margin-bottom: 2vw;
}



.inline 
{
	display: inline-block;
	text-align: center;

}

.inline input{
	
	font-size:2.6vh;
    width: 10vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
   }

#adatok {
    background-color: rgb(210,210,210,0.5);
    width: 40vw;
    padding: 0px 2vw;
    color: white;
    border: 2px solid rgb(201, 201, 201,0.2);
    text-align: left;
    position: relative;
    top: -5vw;
}

#adatok button 
{
	font-size: 2.5vw;
	background-color: transparent;
	border: none;
	color:red;
	float: left;
}

#adatok button:hover 
{
	font-weight: bold;
	background-color: white;

}
#logout 
{
    float: right;
	font-size: 2.5vw;
	color: cyan;
    margin-right: 5%;
}

#logout:hover
{
font-weight: bold;
}
.Raktar
{
	
	background-color: rgb(201,201,201,0.2);
    height: 32vw;
    max-height: 32vw;
	border: 1px solid white;
	width: 75%;
	overflow: auto;
}


.Raktar iframe 
{
	width: 100%; height: 100%; border: none; 

}
#History 
{
	background-color: rgb(221, 255, 0,0.3);
	color: white;
	border: 2px solid rgb(255,255,255,0.3);
    max-height: 58vw;
	width: 20.5%;
	float: right;
}
#upload,#browse 
{
    font-size: 3vh;
	float: left;
}
#browse 
{
    font-size: 2.5vh;
}

.feliratok
{
	font-size: 4vw;
    margin-left: 0.5vw;
}

.label {
    text-transform: uppercase;
    font-size: 3.5vw;
    font-weight: bold;
}

@media screen and (max-width: 995px) 
{
    .menusor-spacer {height: 10vh;}
}
@media screen and (max-width: 600px) 
{
   

#Bedge {
top: -32vw;
right: 7vw;
height: 10vw;
width: 10vw;
}

	
	#PP {

  height: 40vw;
  width: 40vw;
}

#Pfp{
  width: 65%;
float: none;
}
.inline input {
    font-size:4vh;
    width: 100%;
    margin-left: 0vw;
    margin-bottom: 6vw;
    margin-top: 3vw;

}

#adatok {
    width: 100vw;
    margin-left: -2vw;
}


#adatok button, #logout {font-size: 5vh;margin-left: 4vw;}
#adatok button {margin-right: 10vw;}
body{overflow-x:hidden; }

.label {
    text-transform: uppercase;
    font-size: 6.5vw;
    font-weight: bold;
}

.feliratok 
{    font-size: 6.5vw;

}
#History {
    height: fit-content;
    display: block;
    font-size: 5vh;
    width: 101vw;
    position: absolute;

}



.Raktar {
    width: 50%;
    margin-left: 10vh;
    border: none;
    margin-top: 10vh;

}


#browse {
    width: 116vw;
}

.Nagydoboz{
	width:152vw;
	
}

#veglegesit {background-color: rgb(120,120,120,0.5)}
}


	


