body 
{
overflow-x: hidden;
}



.aukcio
{
	display: inline-block;
	background-color: rgb(201,201,201,0.3);
	width: 40vw;
	
}



.aukcio-info
{
	font-size: 1.5em;
	overflow: auto;
	text-align: justify;
	padding: 0.6em 1em;
	height: 16vh;
	color: white;;
	border: 2px solid rgb(0,0,0);
	border-top-width: 3px;
	background-color: rgb(200,200,200,0.15);
	margin-left: 0.3em;
	margin-right: 0.3em;

}
.aukcio button 
{
	font-size: 2.4vw;
	text-decoration: underline;
	position: relative;
	padding: 0.2em 1em;
	margin-top: 0.2em;
	margin-bottom: 0.7em;
	border: none;
	background-color: transparent;
	color: white;

}

.aukcio button:hover 
{
		color: rgb(255,215,0);
		background-color: transparent;
		scale: 110% 110%;
		cursor: pointer;

}

.aukcio-cim
{
	margin-left: 0.1em;
	margin-right: 0.1em;
	font-size: 2.5vw;
	border-bottom: 2px solid white;
	color: white;
	padding: 0.1em 0em;
	margin-top: 3%;
	text-transform: uppercase;
}

#aukcio-container 
{
	width: 100%;
	text-align: center;
}
#raktar-div 
{
height: 90%;
width: 80%;
margin: 1% auto;
display: none;
} 

#raktar {
    height: 75vh;
    width: 100%;
}
#host{
	white-space: nowrap;
}
.rejected{
	
	
}
@media screen and (max-width: 1000px) 
{
	#raktar-div{
    height: 0;
    width: 100%;
    display: hidden;
	}
	.menusor-spacer
	{
		height: 5vh;
	}
	
	body{
		overflow-x:hidden;
	}
	
	.aukcio-info{
		
		height: 30vh;
	}
	
	.aukcio {
    display: inline-block;
    background-color: rgb(201,201,201,0.3);
    width: 100%;
	margin-bottom: 5vw;
	height:auto;
	}
	.aukcio-cim {
		font-size:5.5vw;
	}
	#aukcio .aukcio button {
    font-size: 10vw;
    text-decoration: underline;
    position: relative;
    padding: 0.2em 1em;
    margin-top: 0.2em;
    margin-bottom: 0.7em;
    border: none;
    background-color: transparent;
    color: white;
}
.aukcio button {font-size: 7vw;}

#host{
	white-space: unset;
}
	
	
}
